<% 
@services = @site.services.with_translations(I18n.locale)
@features = @site.features.visibles
%>

<% content_for :page_content do %>
  <% if @features.any? %>
    <div class="row-fluid">
      <div class="span12" id="home-orbit">
        <%= render 'shared/carousel', :features => @features %>
      </div>
    </div> 
  <% end %>
   
  <% if @services.any? %>
    <div class="row-fluid services">
      <div class="span12">
        <%= grid_tag(3) do %>
          <%= render(:partial => "services/record", :collection => @services, :as => :record) %> 
        <% end %>    
      </div>
    </div>
  <% end %>  
<% end %>