/*-----------------------------------------
	SHARED STYLES
	----------------------------------------- 
	$global-radii-blocks: 4px !default;

	// Layout
	$bodyBackgroundColor: white !default;
	$contentBackgroundColor: transparent !default;
	$footerBackgroundColor: transparent !default;
	$mainBackgroundColor: transparent !default;
	$sidebarBackgroundColor: transparent !default;

	// Typography
	$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$baseFontSize: 14px !default;
	$baseLineHeight: 20px !default;
	$textColor: #333 !default;
	$headingFontFamily: $baseFontFamily !default;
	$headingTextColor: $textColor !default;


	// Links
	$linkColor: $textColor !default;
	$linkColorHover: darken($linkColor, 15%) !default;
	$linkColorActive: darken($linkColor, 15%) !default;

	// Header links
	$headerLinkColor: $linkColor !default;
	$headerLinkColorHover: $linkColorHover !default;
	$headerLinkColorActive: $linkColorActive !default;

	// Footer links
	$footerLinkColor: $linkColor !default;
	$footerLinkColorHover: $linkColorHover !default;
	$footerLinkColorActive: $linkColorActive !default;


	// Navbar
	$navbarBackgroundHighlight: $bodyBackgroundColor !default;
	$navbarBackground: $bodyBackgroundColor !default;
	$navbarText: $textColor !default;
	$navbarLinkColor: $linkColor !default;
	$navbarLinkColorHover: $linkColorHover !default;
	$navbarLinkColorActive: $linkColorHover !default; 
	$navbarButtonBackgroundHighlight: $navbarBackgroundHighlight !default; 
	$navbarButtonBackground: $navbarBackground !default; 
	$navbarButtonIconBarColor: white !default;

	// Form
	$inputTextColor: $textColor !default;
	$inputBackgroundColor: $bodyBackgroundColor !default;
	$inputBorderColor: $textColor !default;
	$inputFocusBorderColor: rgba(82, 168, 236, 0.8) !default; 
	$inputBorderRadius: 3px !default; 
----------------------------------------- */

$blue: #274665;

$global-radii-blocks: 4px;
$fluidGridGutterWidth:    2.327659574%;
$fluidGridColumnWidth:    6.082978723%;

// Layout
$bodyBackgroundColor: #DADAD2;
$contentBackgroundColor: transparent;
$footerContainerBackgroundColor: #e8e8e2;
$mainBackgroundColor: transparent;
$sidebarBackgroundColor: transparent;

// Typography
$baseFontFamily: "proxima-nova-extra-condensed", "Lucida Grande", Arial, sans-serif; 
$baseFontSize: 17px;
$baseLineHeight: 24px;
$textColor: #474747;
$headingFontFamily: "proxima-nova-extra-condensed", "Lucida Grande", Arial, sans-serif;
$headingTextColor: $textColor;

// Links
$linkColor: $blue;
$linkColorHover: $textColor;
$linkColorActive: $textColor;

// Header links
$headerLinkColor: $textColor;
$headerLinkColorHover: $blue;
$headerLinkColorActive: $blue;

// Footer links
$footerLinkColor: $textColor;
$footerLinkColorHover: $blue;
$footerLinkColorActive: $blue;



// Navbar
$navbarBackgroundHighlight: black;
$navbarBackground: black;
$navbarText: $textColor;

$navbarLinkColor: $bodyBackgroundColor;
$navbarLinkColorHover: white;
$navbarLinkColorActive: white; 
$navbarButtonBackgroundHighlight: $navbarBackgroundHighlight; 
$navbarButtonBackground: $navbarBackground; 
$navbarButtonIconBarColor: white;

// Form
$inputTextColor: $textColor;
$inputBackgroundColor: $bodyBackgroundColor;
$inputBorderColor: $textColor;
$inputFocusBorderColor: rgba(82, 168, 236, 0.8); 
$inputBorderRadius: 3px;

@import "gko_public_all"; 
@import "gko/elastislide";  
/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */
.next-previous {
	display:none;
} 
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1,h2,h3 {
	text-transform: uppercase;
}
.html_text {
	font-family: $baseFontFamily;
	p, ul {
		font-family: $baseFontFamily;
	}
}
/*-----------------------------------------
   OVERWRITTE
----------------------------------------- */
/*-----------------------------------------
   STRUCTURE
----------------------------------------- */ 
#content-container {
	border-top:12px solid #e8e8e2;
	margin: 0;
	padding: 24px;
}
.navbar {
	margin-bottom: 0px;
}
a.bordered img,
.diaporama .image-large-wrapper,
.carousel {
	border:12px solid #e8e8e2;
}

/*-----------------------------------------
 HEADER
----------------------------------------- */
body {
	border-top: 6px solid $blue;
	padding: 0;
} 
#locales {
	background-color: $blue;
	padding: 4px 8px;
	@include border-radius(0 0 8px 8px)
}
.navbar-inner {
	background: $bodyBackgroundColor asset-url("bg.png", image) 0px 0px repeat;
}
.navbar .nav-collapse .nav > li > a {
	text-transform: uppercase;
	font-family: $baseFontFamily;
	font-size: 18px;
}
.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
	border-top-color: $navbarLinkColor;
	border-bottom-color: $navbarLinkColor;
	color: $navbarLinkColor;
}
/*-----------------------------------------
 Thumbnails Grids of images, videos, text, and more
----------------------------------------- */
.grid > li {
	.thumbnail {
		@include box-shadow(none);
		.thumbnail-image {
			overflow: hidden;
		  	border:12px solid #e8e8e2;
			background: $textColor; 
		    @include box-shadow(0 0 65px rgba(0, 0, 0, .3) inset, 0 0 20px rgba(0, 0, 0, .3) inset, 0 0 1px rgba(0, 0, 0, .3)); 
		    @include transition(all 0.3s ease-out);
			&:hover,  
			&:focus { 
			    @include box-shadow(0 0 65px rgba(0, 0, 0, .3) inset, 0 0 20px rgba(0, 0, 0, .3) inset, 0 0 15px rgba(0, 0, 0, .3));  
			}
		}
		.thumbnail-title {
		 	font-size: $headingBaseFontSize - 8;
		 	line-height: $headingBaseFontSize - 4;
			a {
				color: $textColor;
				font-weight: normal;
			}
		}
	}
}

/*-----------------------------------------
   HOME
----------------------------------------- */

#home {
	h1 {
		font-weight: normal;
		border-bottom: 6px solid $textColor;
		line-height: $baseLineHeight;
		margin: 8px;	
	}
}

/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
	@include transition(color .5s linear, background-color .5s linear)
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive";
@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (min-width: 980px) {
	/*-----------------------------------------
	 HEADER
	----------------------------------------- */ 
	.navbar {
		.nav-collapse {
			margin-top:10px;
			@include clearfix;
			nav {
				@include center-nav;
			}
			.nav {
				 > li { 
					.icon {
						display: inline-block;
						width:8px;
						height: 8px;
					} 
					&:first-child { 
						background: none;
						padding-left: 0;
						.text {
							padding-left: 0; 
						}
						.icon {
							display: none;
						} 
					}
				}
				.dropdown ul {
					padding-left: 1px;	
				}
				.dropdown-menu {
					background-color: $textColor;
					a {
						padding: 3px 12px;
					}
				}
			}
		}
	}

	/*-----------------------------------------
	 FOOTER
	----------------------------------------- */
	#footer {
		padding-bottom: $baseLineHeight * .5;
		padding-top: $baseLineHeight * .5;
		nav {
			@include center-nav;  
		}
		.nav > li > a  {
			font-weight: normal;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	/*-----------------------------------------
	 COPYRIGHT
	----------------------------------------- */
	#copyright {
		text-align: center;
	}
		
}